.namn {
    text-align: center;
    color: #000000;
    font-size: 11.8vw;
    font-family: "boys dont cry";
    left: 0;
    line-height: 13vw;
    margin-top: -7vw;
    position: absolute;
    text-align: center;
    top: 27vw;
    width: 100%;
    letter-spacing: 0.2vw;
    font-weight: 100;
    z-index: 1;
    mix-blend-mode: luminosity;
    opacity: 70%;
}

@font-face {
  font-family: "boys dont cry";
  src: url("misc/BoysDontCry.otf");
  }

.namn2 {
  z-index: 110;
  color: #000000;
  position: fixed;
  left: 1vw;
  top: 0.5vw;
  font-family: "boys dont cry";
  font-size: 3vw;
  font-weight: 100;
  mix-blend-mode: luminosity;
  opacity: 80%;
}

#wrapper {
    height: 100%;
    width: 100%;
    font-family: roboto;
    background-color: rgb(255, 255, 255);
}

.portfolio {
  background-color: rgb(255, 255, 255);
}

header {
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5em;
    border-bottom: solid #000000 0.12vw;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: rgb(196, 196, 196);
}

.headerp {
  background-color: transparent;
  border-bottom: 0vw;
}

  li {
    display: inline-block;
  }

  a {
  text-decoration: solid;
  color: rgb(0, 0, 0);
  font-size: 1.2vw;
  }

  .aselected {
  color: rgb(255, 255, 255);
  }

.bgc {
  background-image: url("img/bakgrund.jpg");
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 3.5vw;
  z-index: -0,5;
  opacity: 80%;
  }

  .bgh {
    background-image: url("img/P1050555.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -0,5;
    }

  .headlines {
    display:flex;
    justify-content: left;
    font-family: roboto;
    font-size: 2vw;
    position: relative;
    top: 6vw;
    left: 3vw;
    opacity: 80%;
  }

  .text {
    position: relative;
    top: 6vw;
    left: 3vw;
    width: 55vw;
    height: 50vw;
    opacity: 80%;
  }

  h3 {
    font-weight: normal;
    font-family: Helvetica Neue;
    font-size: 1.6vw;
  }

  .headlines2 {
    font-family: roboto;
    font-size: 2vw;
    position: relative;
    top: 3.3vw;
    letter-spacing: 2vw;
    left: 1vw;
    color: rgb(0, 0, 0);
    z-index: 10;
    opacity: 80%;
  }

  .images {
    position: relative;
    top: 6vw;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .image {
    position: relative;
    width: 100%;
    height: auto;
    top: -12.8vw;
    border: 0.1vw white solid;
  }

  .film {
    position: relative;
    top: 244vw;
    z-index: 10;
    color: rgb(0, 0, 0);
  }

  .filmgrid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60vw;
    top: -13vw;
    z-index: 0;
  }

  .vid {
    position: relative;
    top: 12vw;
    height: auto;
    width: 100%;
    border: 0.2vw white solid;
  }

  .art {
    position: relative;
    top: 267vw;
    z-index: 10;
    color: rgb(0, 0, 0);
  }

  .artgrid {
    position: relative;
    top: -25.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40vw;
    width: 100vw;
  }

  .image2 {
  position: relative;
  top: -7.1vw;
  height: auto;
  width: auto;
  border: 0.2vw white solid;
  width: 100%;
  }

  .me {
    width: 31vw;
    height: auto;
    position: absolute;
    top: 8vw;
    right: 4vw;
  }

.icons {
  position: absolute;
  width: 100vw;
  height: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  top: 3.5vw;
}
  /* Style icons */
.fa {
  font-size: 20vw!important;
  text-align: center;
  text-decoration: none;
}

/* hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  color: rgb(0, 0, 0);
}

/* Instagram */
.fa-instagram {
  color: #000000;
}
* {
    margin: 0vw;
    padding: 0vw;
}